@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #134e4a; /* teal-900 */
}

#root {
  width: 100vw;
  height: 100vh;
}